<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Favicon/favicon-16x16.png">
    <link rel="manifest" href="../Favicon/site.webmanifest">
    <title>About</title>
</head>

<body>
    <nav>
        <ul class="nav-list">
            <li>
                <a href="../index.html" class="nav-list__item">Home</a>
            </li>
            <li>
                <a href="/views/Help.html" class="nav-list__item">Help</a>
            </li>
            <li>
                <a href="#" class="nav-list__item">About</a>
            </li>
        </ul>
    </nav>

    <main class="main">
        <h1 class="heading__primary heading__primary-main clr__text-crimson">Project Request Master</h1>

        <h2 class="heading__secondary">
            About the creator of this project
        </h2>

        <p class="para">
            Hello if you are reading this, Thank you for your time. This project was created by me "Subrashi Kirti Dalui". I am currently a diploma student in Computer Engineering at Rajkori Institute of Technology. This is also my final year project 
        </p>

        <h2 class="heading__secondary">About Project</h2>
        <p class="para">
            Request master is a web based application for testing APIs or (Application Programming Interface) online. It
            is web based application so user can use this application without any installation. It shows each request in
            an easy to read manner and also shows the respective output from the API. The user can send extra
            information with the request such as header information and body data with the request.
        </p>

        <h2 class="heading__secondary">Objective of project</h2>
        <p class="para">
            The main objective of this project is for the user to be able to test his or her API without creating a
            frontend for it, For example let’s say, a team of engineers have to create a full stack web application and
            the work is divided among the frontend engineer and the backend engineer. As for a backend engineer, the
            main work for him is mainly to create the backend. In this case he will only write the code for the backend
            but during this time the backend engineer would also have to test his backend code mainly that would be an
            API which will communicate with the database and send data to the frontend. During this time he will need
            some way to see whether his backend is sending the correct data to a particular request. In this case he can
            use an application like Request master to check the responses from his server and also to make it easier for
            the frontend engineer to create the application as he also has to connect the backend to the frontend and
            create the user interface according to that.
        </p>

        <h2 class="heading__secondary">
            References
        </h2>

        <p class="para">
            Some similar project has been created before with the same idea these projects are as follow
        </p>
        <p class="para">
            <big class="clr__text-crimson">1 Postman:</big> Postman is an application used for API testing. It is an HTTP client that tests HTTP
            requests, utilizing a graphical user interface, through which we obtain different types of responses that
            need to be subsequently validated.
        </p>
        <p class="para ">
            <big class="clr__text-crimson">2 Insomnia:</big> Insomnia REST client is a Free Cross-Platform Desktop Framework for testing REST full
            applications. It incorporates sophisticated features like code creation, security helpers, environment
            variables, and a user-friendly user interface. You can take advantage of Insomnia to test GraphQL APIs and
            HTTP-based RESTful APIs.
        </p>        

    </main>
</body>

</html>