<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Favicon/favicon-16x16.png">
    <link rel="manifest" href="../Favicon/site.webmanifest">



    <title>Help</title>
</head>

<body>
    <nav>
        <ul class="nav-list">
            <li>
                <a href="../index.html" class="nav-list__item">Home</a>
            </li>
            <li>
                <a href="/views/Help.html" class="nav-list__item">Help</a>
            </li>
            <li>
                <a href="./About.html" class="nav-list__item">About</a>
            </li>
        </ul>
    </nav>
    <main class="main">
        <h1 class="heading__primary heading__center">Help Section</h1>
        <div class="text-group">
            <h2 class="heading__secondary margin__bottom-small">Request Box</h2>
            <img src="../images/Document — Mozilla Firefox 3_19_2022 7_05_46 PM0001.png" alt="Image"
                class="images-block">
            <p class="para">
                Add url to input area, add the full url in the input section using http:// and use the send button to
                send the request
            </p>
        </div>

        <div class="text-group">
            <h2 class="heading__secondary margin__bottom-small">Request method or type, Add headers and Body type</h2>
            <img src="../images/Document — Mozilla Firefox 3_19_2022 7_01_54 PM.png" alt="Image" class="images-block">
            <p class="para">
                In Request type you could send different types of request like <code>GET</code>, <code>POST</code>,
                <code>PUT</code>, <code>PATCH</code>, <code>UPDATE</code>. In add headers section you could add
                different header options with the request, Below that is the body section where you could send data with
                body. Only add JSON data to the textarea section to send with the data in case you want to send json or
                form data
            </p>
        </div>

        <div class="text-group">
            <h2 class="heading__secondary margin__bottom-small">Response Object and Response Data</h2>
            <img src="../images/PicsArt_03-19-07.16.33.png" alt="Image" class="images-block">
            <p class="para">
                In Response section there are two section Response Object and the Response Data, The response object or
                response simply contains the meta data about the current request like the headers, the request type,
                request method, the request status. Below that is the response which is sent by the server.
            </p>
        </div>


    </main>
</body>

</html>